doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title Documento HTML 5
body
h1 Documento HTML 5	
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus sapiente amet eos hic doloremque recusandae non molestias maiores! Ab similique libero odio magni nulla mollitia nemo harum dolorum laborum provident.									