doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title Estilos CSS
		style(stylessheet).
			section.bandera{height: 200px; margin: 20px auto; width: 400px}
			div{heigth: 80px }
			div.amarillo{background-color: #ff0}
			div.azul{background-color: #00f}
			div.rojo{background-color: #f00}
			div.amarillo.alto{height: 80px}

body
	h1 Estilos CSS
	hr
	section.bandera
		div.amarillo.alto
		div.azul
		div.rojo	
