body {
  background-color: #ddd;
  color: #333;
  font: 16px Arial; }

article {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 20px;
  width: 400px;
  height: 2px; }
  article h2 else {
    color: #c00; }
    article h2 else.votar {
      display: none; }
