body {
  font: 16px tahoma;
  color: #444; }

section {
  border: 1px solid #aaa;
  padding: 40px;
  margin: 10px;
  width: 200px; }
  section.box1 {
    border-radius: 10px; }
  section.box2 {
    border-radius: 100%; }
  section.box3 {
    border-radius: 60px; }
