html(lang='ES')
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(name="description" content="")
        meta(name="author" content="")
        block title
            title Titulo por defecto
        link(href="css/font-awesome.css" rel="stylesheet" type="text/css")
        link(href="css/vitality-red.css" rel="stylesheet" type="text/css")
