doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title Atributos Literales (Clases/id)
body
h1 Atributos Literales (Clases/id)
hr
//-Clases Literales
section.first.wide.green.small.black
//- Id Literal
section#sec01
#subsec01.small
