doctype
html(lang ="es")
	head
		meta(charset = "utf-8")
		title Casos
	body
		h1 Casos
		hr
		ul
			-var goles= 4
			case goles
				when 0
					li 
						<strong> No tiene goles </strong>
				when 1
				when 2
					li Tiene 1-2 goles
				when 3
					li Tiene 3 goles
				default
					li Tiene mas de 3 goles