doctype
html(lang='es')
	head
		meta(charset='utf-8')
		title Iteraciones
body
	h1 Iteraciones
	hr
	select
		option Seleccione lenguaje de preogramacion
		 each val in ['java', 'C#', 'Ruby']
			option=val

// - while
ul
	- var i=1
	while i<=10
		li='Opcion'+i++
		li Opcion #{i++}

 							