$ancho: 400px;
$alto: 200px;
$color-texto: #fff;
$color-fondo: #0a0;
$tipo-letra:Arial;
$redondez: 10px;
body{
	font-family:$tipo-letra;
}

h1{
	background-color: $color-fondo;
	color:$color-texto - #111;
	border-radius: $redondez;
	height:$alto/5;
	margin: 0px auto;
	padding: (10px + 4px);
	width: ($ancho * 2);
	text-align: center;
}