@import 'colors','fonts';

:root
{
	background: -webkit-linear-gradient(top, $color-fondo1, $color-fondo2);
	height: 100vh;

}
button{
	border: none;
	box-shadow: -4px -4px 12px rgba(255,255,255,0.8),
	-4px -4px 12px rgba(255,255,255,0.8);
    background:-webkit-linear-gradient(top, $color-boton1, $color-boton2);
	color: $color-texto;
	font-size: 4em;
	font-family: $fuente;
    display: block;
	margin: 80px auto;
	padding: 40px;
	width: 400 px;

	&:hover{
		cursor: pointer;
		background:-webkit-linear-gradient(top, $color-boton1, $color-boton2);
	}
}