body{
font: 16px Arial;
}

article{
margin: 20px auto;
padding: 20px;
width: 400px;
}

.error{
border: 1px solid #f00;
background-color: #fdd;
}

h4{
color: #800;
}


.seriousError{
@extend .error;
border: 4px solid #f00;
}

